@page "/login"
@using Microsoft.AspNetCore.Components.Web

<PageTitle>Index</PageTitle>
<body >
	<main>




	<div class="Login">


		<h2 class="">Iniciar Sesión</h2>
		<input type="text" placeholder="Correo Electronico">
		<br />
		<input type="password" placeholder="Contraseña">
		<br>
		<br>
			<button type="submit" class="btn btn-outline-success">Iniciar Sesión</button>


	</div>


	</main>

</body>