@page "/Regi"

<!--Register-->
<div class="la314">

	<h3 class="">DIMIDIUM </h3>
	<p>
		fue Desarrollado por:	 Alexa Caba Y Anderson DL 

		Es una APP enfocada en socializar con los diferente Usuarios Ya sea en busca de pareja o una buena Charla.





	</p>







</div>
