.page[b-qt2pb20y4r] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-qt2pb20y4r] {
    flex: 1;
}

.sidebar[b-qt2pb20y4r] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103,0.5) 0%, #000000cc 70%);
}



    .top-row[b-qt2pb20y4r]  a, .top-row .btn-link[b-qt2pb20y4r] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-qt2pb20y4r] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-qt2pb20y4r] {
        display: none;
    }

    .top-row.auth[b-qt2pb20y4r] {
        justify-content: space-between;
    }

    .top-row a[b-qt2pb20y4r], .top-row .btn-link[b-qt2pb20y4r] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-qt2pb20y4r] {
        flex-direction: row;
    }

    .sidebar[b-qt2pb20y4r] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-qt2pb20y4r] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-qt2pb20y4r], article[b-qt2pb20y4r] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
