@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  /* background-image:src(bootstrap/Imagenes/7.jpg);*/
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: rgb(3, 243, 252);
}

a{
    color: white;
}
.profile-image {
    width: 100px; /* Ajusta el ancho y alto según tus necesidades */
    height: 100px;
    border-radius: 50%; /* Hace que la imagen sea circular */
    border: 4px solid black; /* Agrega un borde negro y grueso */
    object-fit: cover; /* Ajusta la imagen para llenar el círculo sin deformarse */
    display: block; /* Hace que la imagen sea un elemento de bloque */
    margin: 0 auto; /* Centra la imagen horizontalmente */
   
}


.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }



    .vivaldi{
        font-family:Vivaldi;
       font-size:50px;
    
    }

    .letra.b{
        color: white;
    }
    .L30{
        font-size:30px;
    }
    /*/--------------------------------------------------------------------------*/
.contenedor__todo {
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}





.contenedor__login-register form button {
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #46A2FD;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
}










.caja__trasera {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(13, 14, 14, 0.603);
}

    .caja__trasera div {
        margin: 100px 40px;
        color: white;
        transition: all 500ms;
    }

.Login {
    width: 100%;
    padding: 80px 20px;
    background-image: linear-gradient(180deg, rgba(6, 232, 248, 0.6) 0%, #080808eb 60%);
    position: absolute;
    border-radius: 20px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    color: white;
    /**/
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    display: block;
    /**/
    max-width: 400px; /* Ajusta el ancho máximo según tus necesidades */
    width: 100%;

  
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 0 auto; /* Centra el formulario horizontalmente */
}



.la314 {
    width: 100%;
    padding: 80px 20px;
    background-image: linear-gradient(180deg, rgba(6, 248, 248, 0.6) 0%, #080808eb 60%);
    border-radius: 20px;

    border: 1px solid #03fbfb;
    font-size: 14px;
    font-weight: 800;
    color: rgb(255, 255, 255);
    /**/
    display: flex;
    opacity: 1;
    display: block;
    /**/
    max-width: 400px; /* Ajusta el ancho máximo según tus necesidades */
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.233);
    margin: 0 auto; /* Centra el formulario horizontalmente */
}











        .caja_trasera button {
            margin-top: 30px;
        }

        .caja__trasera div h3 {
            font-weight: 400;
            font-size: 26px;
        }

        .caja__trasera div p {
            font-size: 16px;
            font-weight: 300;
        }

    .caja__trasera button {
        padding: 10px 40px;
        border: 2px solid #fff;
        font-size: 14px;
        background: transparent;
        font-weight: 600;
        cursor: pointer;
        color: white;
        outline: none;
        transition: all 300ms;
    }

        .caja__trasera button:hover {
            background: #fff;
            color: #46A2FD;
        }
        
/*Formularios*/
body {
    background-image: url(../Imagenes/7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}







/*/*/


nav {
    border: 1px solid #09121cd9;
    background-color: rgba(0, 0, 0, .5);
}

#navbarNav .navbar-nav a {
    padding: 1.2rem 2rem;
}

@media (max-width: 991.98px) {
    .nav-vertical {
        border: 1px solid #ffffff8c;
        right: -301px;
        position: absolute;
        width: 300px;
        top: 57px;
        transition: all .2s ease-out;
    }


    .Letrar{
        font: vivaldi;
    }
    .active {
        right: -1px;
    }
}
/*----------------------------------*/

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    line-height: 1.4;
}


* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: #404040;
    font-family: "Arial", Segoe UI, Tahoma, sans-serifl, Helvetica Neue, Helvetica;
}

.seccion-perfil-usuario .perfil-usuario-body,
.seccion-perfil-usuario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

    .seccion-perfil-usuario .perfil-usuario-header {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 1.25rem;
    }

    .seccion-perfil-usuario .perfil-usuario-portada {
        display: block;
        position: relative;
        width: 90%;
        height: 17rem;
        background-image: linear-gradient(180deg, rgba(6, 232, 248, 0.932) 0%, #080808 40%);
        border-radius: 0 0 20px 20px;
    }

        .seccion-perfil-usuario .perfil-usuario-portada .boton-portada {
            position: absolute;
            top: 1rem;
            right: 1rem;
            border: 1px solid #03fbfb;
            border-radius: 8px;
            padding: 12px 25px;
            background-color: rgba(0, 0, 0, .5);
            color: #fff;
            cursor: pointer;
        }

            .seccion-perfil-usuario .perfil-usuario-portada .boton-portada i {
                margin-right: 1rem;
            }

        .seccion-perfil-usuario .perfil-usuario-portada .boton-editar {
            position: absolute;
            top: 1rem;
            left: 1rem;
            border: 1px solid #03fbfb;
            border-radius: 8px;
            padding: 12px 25px;
            background-color: rgba(0, 0, 0, .5);
            color: #fff;
            cursor: pointer;
        }

            .seccion-perfil-usuario .perfil-usuario-portada .boton-editar i {
                margin-right: 1rem;
            }

    .seccion-perfil-usuario .perfil-usuario-avatar {
        display: flex;
        width: 180px;
        height: 180px;
        align-items: center;
        justify-content: center;
        border: 7px solid #080808;
        background-color: #DFE5F2;
        border-radius: 50%;
        box-shadow: 0 0 12px rgba(0, 0, 0, .2);
        position: absolute;
        bottom: -40px;
        left: calc(50% - 90px);
        z-index: 1;
    }

        .seccion-perfil-usuario .perfil-usuario-avatar img {
            width: 100%;
            position: relative;
            border-radius: 50%;
        }

        .seccion-perfil-usuario .perfil-usuario-avatar .boton-avatar {
            position: absolute;
            left: -2px;
            top: -2px;
            border: 0;
            background-color: #fff;
            box-shadow: 0 0 12px rgba(0, 0, 0, .2);
            width: 45px;
            height: 45px;
            border-radius: 50%;
            cursor: pointer;
        }

    .seccion-perfil-usuario .perfil-usuario-body {
        width: 30%;
        position: relative;
        max-width: 450px;
    }

        .seccion-perfil-usuario .perfil-usuario-body .titulo {
            display: block;
            width: 100%;
            font-size: 1.75em;
            margin-bottom: 0.5rem;
        }

        .seccion-perfil-usuario .perfil-usuario-body .texto {
            color: #9c9c9c;
            font-size: 0.95em;
        }

    .seccion-perfil-usuario .perfil-usuario-footer,
    .seccion-perfil-usuario .perfil-usuario-bio {
        display: flex;
        flex-wrap: wrap;
        padding: 1.5rem 2rem;
        box-shadow: 0 0 12px rgba(0, 0, 0, .2);
        background-color: #020202;
        border: 1px solid #03fbfb;
        border-radius: 15px;
        width: 80%;
    }

    .seccion-perfil-usuario .perfil-usuario-bio {
        margin-bottom: 1.25rem;
        text-align: center;
    }

    .seccion-perfil-usuario .lista-datos {
        width: 50%;
        list-style: none;
    }

        .seccion-perfil-usuario .lista-datos li {
            padding: 5px 0;
        }

            .seccion-perfil-usuario .lista-datos li > .icono {
                margin-right: 1rem;
                font-size: 1.2rem;
                vertical-align: middle;
            }
   /*----------------------------------*/
/* improved for chat text box */
textarea {
    border: 1px dashed #888;
    border-radius: 5px;
    width: 80%;
    overflow: auto;
    background: #f7f7f7
}

/* improved for speech bubbles */
.received, .sent {
    position: relative;
    font-family: arial;
    font-size: 1.1em;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

    .received:after, .sent:after {
        content: '';
        border: 20px solid transparent;
        position: absolute;
        margin-top: -30px;
    }

.sent {
    background: #03a9f4;
    color: #fff;
    margin-left: 10%;
    top: 50%;
    text-align: right;
}

.received {
    background: #4CAF50;
    color: #fff;
    margin-left: 10px;
    margin-right: 10%;
}

.sent:after {
    border-left-color: #03a9f4;
    border-right: 0;
    right: -20px;
}

.received:after {
    border-right-color: #4CAF50;
    border-left: 0;
    left: -20px;
}

/* div within bubble for name */
.user {
    font-size: 0.8em;
    font-weight: bold;
    color: #000;
}

.msg {
    /*display: inline;*/
}