    @page "/333"
    <h3>333</h3>



<h1>Pagina de pruebas</h1>
<div style="display: flex; flex-direction: row;">
    

<ul>
    @foreach (var item in menuItems)
    {
        <li><a href="@item.Url">@item.Text</a></li>
    }
</ul>

@code {
    private List<MenuItem> menuItems = new List<MenuItem>
    {
   new MenuItem { Url = "/", Text = "Inicio" },
        new MenuItem { Url = "/Counter", Text = "Acerca de" },
        new MenuItem { Url = "/Index", Text = "Contacto" },
        new MenuItem { Url = "/FetchData", Text = "Servicios" },
         new MenuItem { Url = "/Prueba", Text = "Pruebas" },
    };

    private class MenuItem
    {
        public string Url { get; set; }
        public string Text { get; set; }
    }
}
</div>

