@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<hr>




<div style="border: 3px solid #ccc; background-color: white; padding: 10px;">
  

<body  >


<h3 >Suma de dos números</h3>

<label>Primer número:</label>
<input type="number" @bind-value="@numero1" />

<label>Segundo número:</label>
<input type="number"  @bind-value="@numero2" />


   

<p>El resultado de la suma es: @resultado</p>



</body>

</div>


    <hr>

<div style="border: 1px solid #ccc; background-color: #f2f2f2; padding: 10px;">
 <button @onclick="Resta">Restar</button>
<button @onclick="Sumar">Sumar</button>
<button @onclick="Dvd">Dividir</button>
<button @onclick="MTP">Mulriplicar</button>


</div>


<div style="display: flex; flex-direction: row;">
    





</div>




@using Microsoft.AspNetCore.Components.Forms;

@code {

    private double numero1;
    private double numero2;
    private double resultado;

private void Resta()
{

 resultado = numero1 - numero2;

}
    private void Sumar()
    {
        resultado = numero1 + numero2;
    }
      private void MTP()
    {
        resultado = numero1 * numero2;
    }
      private void Dvd()
    {
        resultado = numero1 / numero2;
    }


 
//---------------------------------------------------------------------------------

}