@inherits LayoutComponentBase

<PageTitle>Dimidium</PageTitle>



    <main>
        <div class="top-row px-4">
			<NavMenu />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
