
    <nav class="navbar navbar-expand-lg letra ">
        <a class=" vivaldi navbar-brand" href="#">Dimidium</a>
     
        <div class=" " id="navbarNav">
            <div class="navbar-nav letra">
            <a class="oi oi-home p-5" href="#"> Home </a>
            <a class="oi oi-person p-5 " href="LIKE"> Usuarios</a>
            <a class="p-5 oi oi-fire" href="Counter"> Perfil</a>
            <a class="p-5 oi oi-fire" href="CHAT"> Chat</a>
            <a class="p-5 oi oi-align-right p-5" href="Regi"> Acerca de Dimidium</a>
			
			
			
            </div>
		
        </div>
    </nav>


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
