
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <div class="btn navbar-toggler d-lg-none d-block">
            <span class="navbar-toggler-icon"></span>
        </div>
        <div class="navbar-collapse nav-vertical" id="navbarNav">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="Usuario">Usuarios</a>
                <a class="nav-item nav-link" href="#">Pricing</a>
                <a class="nav-item nav-link " href="#">Disabled</a>
            </div>
        </div>
    </nav>


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
